.float {
    position: absolute;
    animation-name: float;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {top: 0px}
    50% {top: 8px}
    100% {top: 0px}
}