html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h6 {
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

.side-menu {
    position: relative;
    position: fixed;
    z-index: 5;
}

#mySidenav a {
    position: absolute;
    left: -30px;
    transition: 0.3s;
    padding: 13px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    text-align: end;
    color: #2b3e50;
}

.logo {
    position: absolute;
}

#mySidenav a:hover {
    left: 0;
}

#about-tab {
    top: 100px;
}
#projects-tab {
    top: 180px;
}
#contact-tab {
    top: 260px;
}
#github-tab {
    top: 340px;
}
#linkedin-tab {
    top: 420px;
}

.font-primary {
    font-family: 'Anton', sans-serif;
}

.header-icon {
    font-size: 20vw;
}

@media only screen and (max-width: 1200px) {
    .project-column {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .project-column:nth-child(odd) {
        display: flex;
        justify-content: flex-end;
    }
}

.project-container {
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.274);
    height: 234px;
    width: 362px;
}

.bar {
    color: #6a6a6a;
    background-color: #ddd;
    height: 24px;
    text-align: center;
    position: relative;
}

i.red-dot {
    height: 12px;
    width: 12px;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}
i.yellow-dot {
    height: 12px;
    width: 12px;
    background-color: #ffbd2e;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 26px;
}
i.green-dot {
    height: 12px;
    width: 12px;
    background-color: #28ca41;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 42px;
}

.project-container img {
    width: 362px;
    height: 210px;
}