#mySidenav a {
    position: absolute;
    left: -50px;
    transition: 0.3s;
    padding: 13px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    text-align: end;
    color: #4e5d6c;
}

.logo {
    position: absolute;
}

#mySidenav a:hover {
    left: 0;
}

#about-tab {
    top: 100px;
}

#projects-tab {
    top: 180px;
}

#contact-tab {
    top: 260px;
}