body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#mySidenav a {
    position: absolute;
    left: -30px;
    transition: 0.3s;
    padding: 13px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    text-align: end;
    color: #2b3e50;
    z-index: 1;
}

.logo {
    position: absolute;
    z-index: 1;
}

#mySidenav a:hover {
    left: 0;
}

#about-tab {
    top: 100px;
}
#projects-tab {
    top: 180px;
}
#contact-tab {
    top: 260px;
}
#github-tab {
    top: 340px;
}
#linkedin-tab {
    top: 420px;
}

.font-primary {
    font-family: 'Anton', sans-serif;
}

.about-icon {
    font-size: 20vw;
}